@import "tailwindcss";

@theme {
  --color-primary: #0a0f1e;
  --color-secondary: #f4f6f8;
}

body {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-family: 'Inter', sans-serif;
}
